PyYAML
mpi4py
numpy
tensorflow==1.15.5 # because of stable_baselines
keras==1.2.2 # because of tensorflow
pillow==7.2.0 # because of gym
gym
stable-baselines==2.7.0
pytablewriter
# -e git+git@github.com:tawnkramer/donkey.git@faa4a32b2aff452c6b46474029ea9e4b3168843d#egg=donkeycar
opencv-python
cloudpickle
pygame
joblib
tqdm